/* body {
  position: relative;
} */
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 12vh;
  background-color: rgb(14, 13, 13);
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
}
header > h3,
h1 {
  margin: 0px;
  color: rgb(245, 245, 245);
}

main {
  width: 100%;
  height: 88vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.main-container {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
.login-container {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(235, 235, 235); */
}
#alerta {
  width: 400px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  box-shadow: rgba(142, 142, 224, 0.2) 0px 7px 29px 0px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  border: 2px solid rgb(230, 230, 230);
  top: 40%;
  color: rgb(78, 78, 78);
}

.btnlg {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(20, 20, 20);
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(142, 142, 224, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 1.2rem;
}
#formulario {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 1em;
  padding: 5px 15px;
  border: none;
  text-align: center;
  outline: none;
  border-bottom: 2px solid rgb(180, 180, 180);
}
input[type="submit"] {
  margin: 1em;
  padding: 10px 15px;
  border: none;
  text-align: center;
  outline: none;
  background-color: black;
  border-radius: 5px;
  color: #f3f3f3;
}
.title {
  margin: 0.5em;
  width: 100%;
  min-height: 5px;
  text-align: center;
}
.btnlg > img {
  width: 24px;
  margin-right: 1rem;
}
.btnlg:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 56, 56);
}
.card {
  width: 320px;
  height: 350px;
  background-color: rgb(255, 254, 253);
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card2 {
  width: 320px;
  height: 70vh;
  background-color: rgb(255, 254, 253);
  display: flex;
  margin: 8px 4px;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.mustrate {
  display: flex;
}
.cat-title {
  /* background-color: aqua; */
  margin: 0px;
  width: 90%;
  height: 20%;
  text-align: center;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.cat-title > h2 {
  text-align: center;
  font-size: 20px;
}
.log {
  background-color: rgb(246, 255, 255);
  border-radius: 4px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card > .btn {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(25, 25, 26);
  margin-bottom: 1em;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
}
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(25, 25, 26);
  margin: 0.5em;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  transition: all 0.8 ease-in-out;
}
.btn:hover {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 248, 239);
}
.cover {
  width: 80%;
  height: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}
.cover > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card2 > p {
  margin: 0px;
  padding: 0px 16px;
  text-align: center;
}
.cat-title2 > h2 {
  text-align: center;
  font-size: 14px;
}
.description {
  margin-top: 1em;
  font-style: italic;
  font-size: 14px;
}
.card-btn {
  /* background-color: #3498db; */
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.likebtn {
  cursor: pointer;
  margin: 1rem;
  font-size: 28px;
  text-decoration: none;
  color: black;
  transition: all 0.8 ease-in-out;
}
.likebtn:hover {
  color: rgb(49, 49, 49);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 200px;
  position: absolute;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
